.remove {
    --color: green;
    font-family: inherit;
    display: inline-block;
    width: 5em;
    height: 2.6em;
    line-height: 5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid green;
    transition: color .5s;
    z-index: 10;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

.remove:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.remove:hover {
    color: white;
}

.remove:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.remove:hover:before {
    top: -30px;
    left: -30px;
}

.remove:active:before {
    background: #3a0ca3;
    transition: background 0s;
}